@import url("global.module.css");

/*
    Reseting imported properties for section element
*/

section{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

/*
    ============== homepage style
*/

/* Containers */

.main-container{
    display: flex;
    justify-content: space-between;
    
}

.side-nav-container{
    background-color: red;
    width: 100%;
    height: 200vh;
    flex: 1;

    border: solid 0 var(--container-border-width) 0 0 var(--container-border-color);
}

.posts-container{
    background-color: blue;
    width: 100%;
    height: 200vh;
    flex: 3;
    overflow: auto;
}

.aside-container{
    background-color: green;
    width: 100%;
    height: 200vh;
    flex: 2;

    border: solid 0 0 0 var(--container-border-width) var(--container-border-color);
}