@import url("global.css");

:root{
    --background-color: #181818;
    --text-color: white;
    --transparent-black: rgba(0,0,0,0.7);
}

.grid{
    grid-template-rows: repeat(auto, 6);
    grid-template-columns: repeat(10%, 10);
}

.header{
    display: grid;
    background-color: black;
    color: var(--text-color);
}

.site-title{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.nav{
    grid-column: 10 / 11;
    grid-row: 1 / 2;
}

.link-list{
    height: 10vh;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.link{
    margin: 0.7em;
    padding: 0.5em;
    color:var(--text-color);
    border: solid white 0.1em;
    border-radius: 30% / 50%;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.link:hover{
    color: black;
    background-color: white;
    transition-property: all;
    transition-duration: 0.5s;
}

/* content */

.main-section{
    background-image: url("../images/anime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 11;
    grid-row: 2 / 3;
}

.main-description{
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--transparent-black);
    height: inherit;
    color: white;

    padding-left: 5vw;
}

section{
    height: 100vh;
    width: 100%;
    color: var(--text-color);
}

.feature-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feature-section-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.feature-description{
    padding-left: 5vw;
    padding-right: 5vw;
    width: 50vw;
    height: auto;
}


.feature-image{
    width: 40vw;
    height: auto;
    padding: 5vw 5vh 5vw 5vh;
}

/* footer */

footer{
    color: var(--text-color);
}